# Logs #
########
*.log

# Images #
##########
*.png

# Zip #
#######
*.zip

# CSV #
#######
*.csv

# Directory #
#############
/update_data
/.ipynb_checkpoints

# Miscellaneous #
#################
data/.DS_Store
.DS_store
/.idea

code